.idea/
build/
config/
lib/
logs/
META-INF/
out/
*.iml
*.uml
.gradle/

BootStarp/.idea/
BootStarp/config/
BootStarp/lib/
BootStarp/logs/
BootStarp/META-INF/
BootStarp/out/
BootStarp/*.iml
BootStarp/*.uml